/* css for login screen */

html body.template-login_form,
html body.template-login_failed {
    background-image: none !important;
}

div.overlaybg div.close, div.overlay div.close {
    background-image: url("/++theme++beast.securelogin/pb_close.png");

#login-form-iframe, #iframe-wrapper {
    overflow:visible; 
    height:300px;
    border: 0 none;
    box-shadow: 0 0 0 0;
    padding: 20px;
    width:95%;
}

#fieldset-openid-login label, #login-form label {
    display: inline-block;
    margin-right: 0.5em;
    padding-top: 0.2em;
    text-align: right;
    width: 10em;
}

.field {
    clear: both;
    margin-bottom: 1em;
}

div.formControls {
    margin: 1em;
}

#fieldset-openid-login input, #login-form input {
    font-size: 150%;
}

#fieldset-openid-login .formControls input, #login-form .formControls input {
    margin-left: 0.25em;
}


div.overlay-iframe,
div.overlay-ajax {
    width: 60%;
    min-height: 100px;
    z-index: 99; /* overlays should be above everything */
}

div.overlay-iframe {
    height: 60%;
}
